<div class="header-content">
    <mat-toolbar color="primary" class="toolbar-align">
        <div>
            <a [routerLink]="['/home']">Home</a>
            of L.Kővári
        </div>
        <div class="line-style">
            <span class="last-update" [matTooltip]="lastUpdateTooltip" [matTooltipPosition]="'right'">Last update: {{
                lastUpdateDate | date:'MM/dd/yyyy HH:mm' }}</span>
        </div>
        <div class="line-style angular-version-row">
            <app-angular-version [compact]="true" />
            @if(errorNotification.currentErrorEntries().length > 0) {
            <a class="error-indicator-link" [routerLink]="['/error']">
                <mat-icon class="error-indicator">warning</mat-icon>
            </a>
            }
        </div>
    </mat-toolbar>
</div>