<div class="header-content">
    <mat-toolbar color="primary" class="toolbar-align">
        <div>
            <a [routerLink]="['/home']">Home</a>
            of L.Kővári
        </div>
        <div class="line-style">
            <label class="last-update" [matTooltip]="lastUpdateTooltip" [matTooltipPosition]="'right'">Last update: {{
                lastUpdateDate | date:'MM/dd/yyyy HH:mm' }}<a [routerLink]="['/error']">
                    @if(globalErrorHandlerService.errorEntries.length > 0) {
                    ?
                    }</a></label>
        </div>
        <div class="line-style">
            <label class="last-update">Built with Angular v{{ angularVersion }}</label>
        </div>
    </mat-toolbar>
</div>