<div class="header-content">
    <mat-toolbar color="primary" class="toolbar-align">
        <div>
            <a [routerLink]="['/home']">Home</a>
            of L.Kővári
        </div>
        <div class="line-style">
            <span class="last-update" [matTooltip]="lastUpdateTooltip" [matTooltipPosition]="'right'">Last update: {{
                lastUpdateDate | date:'MM/dd/yyyy HH:mm' }}</span>
        </div>
        <div class="line-style">
            <span class="last-update">Built with Angular v{{ angularVersion }}</span><a class="last-update" [routerLink]="['/error']">
                @if(showExclamationMark) {
                !!!
                }</a>
        </div>
    </mat-toolbar>
</div>