.header-content {
    width: 100%;
    a {
        text-decoration: none;
        color: white;
    }
    
    a:hover, a:active{
        color: lightgray;
    }
    
    .toolbar-align {
        display: block;
        line-height: 1.5rem;
        .line-style {
            line-height: 0.5rem;
            .last-update {
                color: yellow;
                font-size: 0.6rem;
                line-height: 0.5rem;
            }    
        }
    }
    mat-toolbar {
        border-radius: 3px;
        width: 100%;
    }
    .align-right {
        float: right;
    }    
}

