$topnav-background-color: #392613;
:host {
  display: block;
}
.not-found-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: $topnav-background-color;
  text-align: center;
  color: red;
  padding: 10em;
  .col-lg-8{
    padding :0;
  }
  .rounded-btn{
    -webkit-border-radius: 3.125rem;
    border-radius: 3.125rem;
    color: rgba(255,255,255,0.8);
    background: $topnav-background-color;
    border: 0.125rem solid rgba(255,255,255,0.8);
    font-size: 1.125rem;
    line-height: 2.5rem;
    padding: 0 1.5625rem;
  }
  .rounded-btn:hover,.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
    color: rgba(255,255,255,1);
    border: 0.125rem solid rgba(255,255,255,1);
    outline: none;
  }

  h1 {
    font-weight: 300;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
    font-size: 2.25rem;
  }
}
