.digit-font-settings {
    /*
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    font-family: 'Roboto';
    letter-spacing: 0.1em;
    */
    font-size: 17px;
    font-weight: 500;
    line-height: 17px;
    font-family: "Roboto";
    letter-spacing: 0.03em;        
}
.digits-border-horizontal {
    border-bottom: 1px solid #d4d4d4;
    padding: 12px 0 12px;        
}