@use "digit-styles.scss";

.digits-game-layout {
    height: 98vh;
    width: 50vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;    
    background: rgba(235, 249, 253, 0.25);
    border: 0.0625rem solid lightgray;
    .digits-game-title {
        @extend .digits-border-horizontal; 
   
        text-align: center;
    }
    .anchor-underline-off {
        text-decoration: none;
    }
    .warning-message {
        @extend .digit-font-settings;
        @extend .digits-border-horizontal;
        font-weight: 500;
        font-size: 1.0625rem;
        text-align: center;
        color: orange;
    }
    .title-bar {
        padding: 0.375rem 0 0.375rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: stretch;
        align-items: center;    
        font-size: 1.75rem;
        font-weight: 300;
        font-family: Arial, Helvetica, sans-serif;
        .title-bar-name {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;    
            cursor: default;       
        }
        .title-bar-date {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            cursor: default;
        }
    }
    .tool-bar {
        @extend .digit-font-settings;
        height: 3.25rem;
    }
    @media only screen and (max-width: 37.5rem) {
        height: 90vh;
        width: 99vw;
        ::ng-deep {
            .p-dialog {
                width: 80vw;
            }
        }
    }
}
@media only screen and (min-width: 37.5625rem) {
    ::ng-deep {
        .p-dialog {
            width: 20vw;
        }
    }
    .digits-game-layout {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;    
    }
}

@media only screen and (max-width: 37.5rem) {
    ::ng-deep {
        .p-dialog {
            width: 80vw;
        }
    }
}


::ng-deep {
    .p-dialog {
        border: 0.125rem solid;
        border-radius: 1.5625rem;
        border-color: deepskyblue;
    }
    .p-dialog .p-dialog-header {
        background-color: aliceblue;
        background-image: none;
        border-top-right-radius: 1.5625rem;
        border-top-left-radius: 1.5625rem;
    }
    .p-dialog .p-dialog-content:last-of-type {
        background-color: aliceblue;
        background-image: none;
        border-bottom-right-radius: 1.5625rem;
        border-bottom-left-radius: 1.5625rem;
    }
    li.li-no-bullet {
        list-style-position: revert;
        list-style-image: initial;
        list-style-type: decimal-leading-zero;
    }
}

