.digit-font-settings {
    font-size: 17px;
    font-weight: 500;
    line-height: 17px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.03em;        
}
.digits-border-horizontal {
    border-bottom: 1px solid #d4d4d4;
    padding: 12px 0 12px;        
}