.title-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
}
.result-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    border: 0.0625rem solid #0cdfaa;
    border-radius: 0.9375rem;
    height: 100%;
    padding: 0.5rem;
}
.result-area-title {
    margin: 0.625rem;
}
.result-area-title-text {
    font-size: large;
    font-weight: bold;
}
.search-field-style {
    width: 29rem;
    padding-top: 0.5rem;
}
.align-radio-group {
    margin-top: -1.125rem;
}
.align-trashcan {
    margin-top: -0.625rem;
}
