.angular-signals-layout {
  .sub-layout {
    height: 20rem;
    padding: 1rem;
  }
  .example-area {
    display: flex;
    flex-direction: row;
    .primeng-layout {
      @extend .sub-layout;
      flex-grow: 1;
      .primeng-container {
        border: solid 1px blue;
        border-radius: 3px;
        padding: 1rem;
      }
    }
    .material-layout {
      @extend .sub-layout;
      flex-grow: 1;
      .material-container {
        border: solid 1px blue;
        border-radius: 3px;
        padding: 1rem;
      }
    }
  }
  .input-style {
    line-height: 10px;
    width: 5rem;
    padding: 0.3rem;
  }
  .align-title {
    text-align: center;
  }
}
