.angular-signals-layout {
  .sub-layout {
    height: 20rem;
    padding: 1rem;
  }
  .example-area {
    .primeng-layout {
      float: left;
      padding-bottom: 1rem;
      @extend .sub-layout;
      .primeng-container {
        border: solid 1px blue;
        border-radius: 3px;
        padding: 1rem;
      }
    }
    .material-layout {
      float: left;
      @extend .sub-layout;
      .material-container {
        display: grid;
        border: solid 1px blue;
        border-radius: 3px;
        padding: 1rem;
      }
    }
  }
  .input-style {
    padding: 0.3rem;
  }
  .align-title {
    text-align: center;
  }
}
