<div class="miscellaneous-layout">
    <form class="form-group" [formGroup]="miscellaneousForm">
      <div class="form-control-gap">
        <label for="occupation">Occupation:</label>
        <input
          class="form-control"
          type="text"
          id="occupation"
          formControlName="occupation"
        />
      </div>
      <div class="form-control-gap">
        <label for="religion">Religion:</label>
        <input
          class="form-control"
          type="text"
          id="religion"
          formControlName="religion"
        />
      </div>
      <div class="form-control-gap">
        <label for="hobbie">Hobbie:</label>
        <input
          class="form-control"
          type="text"
          id="hobbie"
          formControlName="hobbie"
        />
      </div>
    </form>
  </div>
