.layout-content {
    height: calc(100% - 4rem);
    
    mat-sidenav-container,
    mat-sidenav-content,
    mat-sidenav {
        height: 100%;
    }

    mat-sidenav-content {
        display: flex;
        flex-direction: column;
        min-height: 0;
    }

    mat-sidenav {
        width: 15.625rem;
    }

    main {
        padding: 0.625rem;
        flex: 1;
        min-height: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    .toolbar-style {
        width: 100%;
    }
}
