.wizard-main-layout {
    .sub-topic {
        padding: 1Rem;
    }
    .horizontal-gap-right {
        padding-right: 0.5rem;
    }
    .horizontal-gap-left {
        padding-left: 0.5rem;
    }  
    .under-construction {
        padding: 1rem 0 1rem 0;
        font-weight: 800;
        color: coral;
        text-transform: capitalize;
    }
}