<div class="wizard-main-layout">
  <div>
    This page is a <b>playground</b>, I show on this page Angular v2+ source
    code snippets, what I learned at last or just which interested in, for me.
  </div>
  <div class="sub-topic">
    <b>Act #3</b>
    <div class="top-gap">
      <label class="text-primary">
        <a
          class="horizontal-gap-left horizontal-gap-right"
          href="https://github.com/lkovari/LKovariHome/tree/master/src/app/playground/components/customizable-wizard"
        >
          <img [src]="githubLogoPath" width="16" height="16" />
        </a>
        Example of a Customizable Wizard component which get a data model
        (IWizardData) and contains the wizard pages in an array where each item
        is an IWizardPage.<br />
        Also contains a pre-existing components' name and for each wizard step
        <a href="https://angular.io/api/core/createComponent"
          >create the component dynamically</a
        >
        and show that. The created components's data based on the
        IFormControlData where can describe the formControlName and the value.
      </label>
    </div>
  </div>
  <div class="sub-topic under-construction">
    This component is under construction! Not an exhaustive solution just
    focused to the current context.
  </div>
  <div class="sub-topic text-secondary">
    TODO: include dynamic component into container validation mechanism,
    implement RuleDescriptor, pass data into dynamic components, persist data
    from dynamic components, optional controlling step back & next.
  </div>
  <div>
    <app-customizable-wizard
      [wizardData]="wizardData"
      [componentContainerStyle]="{ 'height': '16.5rem' }"
      [wizardProgressStyle]="{ 'height': '3rem' }"
      [wizardDescriptionStyle]="{ 'color': 'darkgray' }"
      [wizardTitleStyle]="{ 'color': '#c405f7' }"
    ></app-customizable-wizard>
  </div>
</div>
