@use 'sass:math';
.wizard-progress-layout {
    margin: 2rem;
    height: 3rem;
    background-color: #e0f1fc;
    border: var(--bs-border-width) solid darkgray;
    border-radius: var(--bs-border-radius);

    .wizard-progress-content {
        @media (max-width: 599px) { .title-base { font-size: 12px } }
        @media (min-width: 600px) { .title-base { font-size: 16px } }
        @media (min-width: 900px) { .title-base { font-size: 21px } }
        @media (min-width: 1200px) { .title-base { font-size: 26px } }
        @media (min-width: 1800px) { .title-base { font-size: 31px } }
        //margin: 0.8rem;
        margin: math.div(0.8rem, 2);
        
        .select-title {
            @extend .title-base;
            color: blue;
            font-weight: bold;
        }
        .deselect-title {
            @extend .title-base;
            color: black;
            font-weight: normal;
        }
    }   
}



