<div class="home-content">
  <section fxLayout="column" fxFlexAlign="stretch">
    <div class="home-screen">
      <div fxFlexAlign="center" class="align-welcome">
        <p>Welcome to this website</p>
      </div>
      <div class="text-center text-primary">My solutions, code examples on this website, some cases not exhaustive solutions, only focused on the highlighted technical parts, only for demonstration purposes!</div>
      <h5 class=" text-warning text-center">Currently this page under construction, nowadays I get a rid of the &#64;NgModules the code become standalone, all components are migrated, and doing some UI cosmetics works.</h5>  
    </div>
  </section>
  <h6 class="copyright-msg text-center">Copyright © 2020-{{years}} All Right Reserver.</h6>
</div>
