<div class="home-content">
  <section fxLayout="column" fxFlexAlign="stretch">
    <div class="home-screen">
      <div fxFlexAlign="center" class="align-welcome">
        <p>Welcome to this website</p>
      </div>
      <div class="text-center text-primary">My solutions, code examples on this website, some cases not exhaustive solutions, only focused on the highlighted technical parts, only for demonstration purposes!</div>
      <h5 class=" text-warning text-center">Currently this page under construction, nowadays I get a rid of the &#64;NgModules the code become standalone, all components are migrated, and doing some UI cosmetics works.</h5>
      <div class="pre-wrapper">
        <pre>
          kovarilaszlo&#64;Mac LKovariHome % npm outdated                            
          Package                           Current  Wanted  Latest  Location                                       Depended by
          &#64;fortawesome/angular-fontawesome   0.15.0  0.15.0   1.0.0  node_modules/&#64;fortawesome/angular-fontawesome  LKovariHome
          &#64;types/jasmine                      5.1.4   5.1.5   5.1.5  node_modules/&#64;types/jasmine                    LKovariHome
          &#64;typescript-eslint/eslint-plugin   7.13.0  7.13.0  8.16.0  node_modules/&#64;typescript-eslint/eslint-plugin  LKovariHome
          &#64;typescript-eslint/parser          7.13.0  7.13.0  8.16.0  node_modules/&#64;typescript-eslint/parser         LKovariHome
          eslint                             9.15.0  9.16.0  9.16.0  node_modules/eslint                            LKovariHome
          jasmine-core                        5.1.2   5.1.2   5.4.0  node_modules/jasmine-core                      LKovariHome
          ngx-cookie-service                 18.0.0  18.0.0  19.0.0  node_modules/ngx-cookie-service                LKovariHome
          typescript                          5.6.3   5.6.3   5.7.2  node_modules/typescript                        LKovariHome
          kovarilaszlo&#64;Mac LKovariHome % ng update                               
          Using package manager: npm
          Collecting installed dependencies...
          Found 48 dependencies.
          We analyzed your package.json and everything seems to be in order. Good work!
        </pre>
      </div>      
    </div>
  </section>
  <h6 class="copyright-msg text-center">Copyright © 2020-{{years}} All Right Reserver.</h6>
</div>
