<div class="wizard-layout">
  <form>
    <div class="title-style" [ngStyle]="wizardTitleStyle">
      {{ wizardData.title }}
    </div>
    <div class="description-style" [ngStyle]="wizardDescriptionStyle">
      {{ wizardData.description }}
    </div>
    <div>
      <app-wizard-progress
        [ngStyle]="wizardProgressStyle"
        [wizardPages]="wizardData.wizardPages"
        [selectedIndex]="currentIndex"
      ></app-wizard-progress>
    </div>
    <div class="layout-content" [ngStyle]="componentContainerStyle">
      <ng-template dynamicComponentHost> </ng-template>
    </div>
    <div class="footer-style" [ngStyle]="wizardFooterStyle">
      <div class="d-flex flex-row justify-content-around">
        <button
          class="btn btn-primary"
          [ngStyle]="wizardBackButtonStyle"
          [disabled]="currentIndex <= 0"
          (click)="backClicked()"
        >
          Back
        </button>
        @if (currentIndex < wizardData.wizardPages.length - 1) {
        <button
          class="btn btn-primary"
          [ngStyle]="wizardNextButtonStyle"
          [disabled]="
            currentIndex >= wizardData.wizardPages.length - 1 || !isFormValid
          "
          (click)="nextClicked()"
        >
          Next
        </button>
        } @else {
        <button
          class="btn btn-primary"
          [ngStyle]="wizardSaveButtonStyle"
          [disabled]="!isFormValid"
          (click)="saveClicked()"
        >
          Save
        </button>
        }
      </div>
    </div>
  </form>
</div>
