<div class="wizard-layout">
  <form>
    <div class="title-style" [style]="wizardTitleStyle()">
      {{ wizardData().title }}
    </div>
    <div class="description-style" [style]="wizardDescriptionStyle()">
      {{ wizardData().description }}
    </div>
    <div>
      <app-wizard-progress [style]="wizardProgressStyle()"
        [wizardPages]="wizardData().wizardPages"
        [selectedIndex]="currentIndex"
       />
    </div>
    <div class="layout-content" [style]="componentContainerStyle()">
      <ng-template appDynamicComponentHost />
    </div>
    <div class="footer-style" [style]="wizardFooterStyle()">
      <div class="d-flex flex-row justify-content-around">
        <button
          class="btn btn-primary"
          [style]="wizardBackButtonStyle()"
          [disabled]="currentIndex <= 0"
          (click)="backClicked()"
        >
          Back
        </button>
        @if (currentIndex < wizardData().wizardPages.length - 1) {
        <button
          class="btn btn-primary"
          [style]="wizardNextButtonStyle()"
          [disabled]="
            currentIndex >= wizardData().wizardPages.length - 1 || !isFormValid
          "
          (click)="nextClicked()"
        >
          Next
        </button>
        } @else {
        <button
          class="btn btn-primary"
          [style]="wizardSaveButtonStyle()"
          [disabled]="!isFormValid"
          (click)="saveClicked()"
        >
          Save
        </button>
        }
      </div>
    </div>
  </form>
</div>
