<div class="about-me-content">
    <section>
        <div class="about-me-screen">
            <div class="align-about-me">
                <p>About Me</p>
            </div>
            <div>
                <img class="img-responsive" [src]="fullImagePath" alt="myself">
                <p class="txt">
                    I am a software developer with more than 40 years of experience in the field. I have worked on
                    various projects, including web applications, mobile applications, and enterprise software solutions. I am
                    proficient in multiple programming languages and frameworks, and I am always eager to learn new technologies
                    and improve my skills.
                    <a href="assets/bigfiles/LaszloKovari-InsightsDiscoveryPersonalProfile.pdf">
                        <img class="img-responsive-right handpointer-off" [src]="fullInsightImagePath" alt="fullInsightImagePath">
                    </a>
                    I grew up next to the northeastern hills of Hungary, a small border town in
                    <a href="https://www.google.hu/maps/place/Borsod-Abaúj-Zemplén/@48.1084905,19.9695768,8z/data=!3m1!4b1!4m5!3m4!1s0x473f5715770e6fd5:0x100c4290c1e1050!8m2!3d48.2939401!4d20.6934113">county Borsod-Abauj-Zemplen.</a> My original profession was not the software development, but after I'm finished the
                    secondary school I corrected this mistake. :-) I was interested in the microelectronic circuit like how the radio,
                    digital clock works, So I learned microelectronics in an industrial school. My favourite theme was the digital technics.
                    At those times I dealt with to build of basic electronic circuits with discrete
                    <a href="https://en.wikipedia.org/wiki/List_of_7400_series_integrated_circuits" target="_self">74xx integral circuits</a>. I also planned a wiring diagram and PCB. of a digital quartz clock, (wiring diagram and
                    PCB.)&nbsp;&nbsp;developed the circuit of the clock timing for a quartz based oscillator dividing the frequency&nbsp;1Mhz
                    to&nbsp;the base 1Hz (time base) which was the input&nbsp;of the counting circuit. Later my interest&nbsp;turned to
                    the computer sciences, first I was interested in the hardware, later I turned to the software development.&nbsp;
                </p>
                <div class="text-center text-primary">
                    My solutions, code examples on this page, some cases not exhaustive solutions, only focused on the highlighted technical parts, only for demonstration purposes!
                </div>
            </div>
            <div class="align-lk">
                <a href="assets/bigfiles/lk-cv-e.pdf">
                    <label class="text-left lk-cv">László Kővári</label>
                </a>
                <label class="text-left">Budapest Hungary</label>
                <a class="text-left" href="https://www.linkedin.com/in/lkovari/" target="_self">
                    <img src="assets/images/btn_viewmy_160x33.gif" alt="View László Kővári's profile on LinkedIn" border="0" height="33" width="160">
                </a>
            </div>
            <div class=align-proh>
                <label class="text-right prohibit-msg">Business or other usage or reproduction in whole or in part without permission of the owner is prohibited!</label><br>
                <label class="text-right copyright-msg">Copyright © 2020-{{years}} by László Kővári</label>
            </div>
        </div>
    </section>
</div>