.game-arithmetic-operations-layout {
   text-align: center;
  .usage-instruction {
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0.02em;   
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .expected-result {
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    padding-bottom: 1rem;
  }
  .operands-container {
    font-size: 44px;
    font-weight: 500;
    .three-operands {
      display: flex;
      justify-content: center;
      margin: 7px;

      .operand {
        width: 90px;
        height: 90px;
        border: 4px dashed blue;
        border-radius: 50%;
        // padding: 32px 23px 30px 20px;
        font-size: 26px;
        font-weight: 550;
        margin: 4px 10px 4px 10px;
        font-family: 'Courier New', Courier, monospace;
        .button:hover {
          border: 4px solid blue;
        }
      }
    }
  }
  .operators-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .operator-content {
    order: 0;
    flex: 0 1 auto;
    align-self: auto; 
    //font-size: 55px;
    width: 3.55rem;
    height: 3.55rem;
    border: 4px solid #6b6b6b;
    border-radius: 50%;
    margin: 3px 3px 3px 3px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
  }
  .operator-content-button {
    background-color: white;
  }
  .operator-content-button-disabled {
    background-color: white;
  }
  .operator-content-button:hover {
    background-color: rgb(230, 255, 250);
  }
  .operator-content-icon {
    width: 30px;
    height: 30px;
    font-weight: 500;
    vertical-align: middle;
  }
  .revert-button {
    background-color: rgb(219, 251, 221);
  }
  .revert-button:hover {
    background-color: rgb(170, 224, 174);
  }
  .arithmetic-operation-button {
    background-color: rgb(217, 236, 255);;
  }
  .arithmetic-operation-button:hover{
    background-color: rgb(174, 215,255);
  }  
}
