<div class="game-arithmetic-operations-layout">
  <div class="usage-instruction">Use the any combination of number to reach the target:</div>
  <div>
    <label class="expected-result">{{ gameParameters.result }}</label>
  </div>
  <div class="operands-container">
    <div class="three-operands">
      <ng-container *ngFor="let operand of gameParameters.operands; let ix = index">
          <button type="button" *ngIf="ix < 3" class="operand" [disabled]="operand.disabled"
          [@operandButtonAnimationMove]=
            "{value:buttonMoveDirection, params:{ posALeft: buttonFromALeft, posATop: buttonFromATop, 
              posBLeft: buttonToBLeft, posBTop: buttonToBTop}}"
            [ngStyle]="{'background-color': operand.selected ? 'rgb(190 209 253 / 59%)' : '' }"
            [ngClass]="!operand.disabled && !operand.selected ? 'operator-content-button' : 'operator-content-button-disabled'"
            (click)="onOperandButtonClick($event.target, operand)">{{ operand.value }}
          </button>
      </ng-container>
    </div>
    <div class="three-operands">
      <ng-container *ngFor="let operand of gameParameters.operands; let ix = index">
          <button type="button" *ngIf="ix > 2" class="operand" [disabled]="operand.disabled"
            [@operandButtonAnimationMove]=
              "{value:buttonMoveDirection, params:{ posALeft: buttonFromALeft, posATop: buttonFromATop, 
                posBLeft: buttonToBLeft, posBTop: buttonToBTop}}"
              [ngStyle]="{'background-color': operand.selected ? 'rgb(190 209 253 / 59%)' : '' }"
              [ngClass]="!operand.disabled && !operand.selected ? 'operator-content-button' : 'operator-content-button-disabled'"
              (click)="onOperandButtonClick($event.target, operand)">{{ operand.value }}
          </button>
      </ng-container>
    </div>
  </div>
  <div class="operators-container">
    <ng-container *ngFor="let operator of operators; let ix = index">
        <button type="button" class="operator-content" 
          [ngClass]="ix === 0 ? 'revert-button' : 'arithmetic-operation-button'"
          (click)="onOperatorButtonClick(operator)">
          <mat-icon class="operator-content-icon" svgIcon="{{ operator.icon }}"></mat-icon>
        </button>
    </ng-container>
  </div>
  <a href="https://github.com/lkovari/LKovariHome/tree/master/src/app/digits/components/game-arithmetic-operations/operand-button-animation.ts">
    <img [src]="githubLogoPath" width="16" height="16" />
  </a>
</div>
