.game-arithmetic-operations-layout {
  padding-left: 0px;
  margin: 2rem 1rem 1rem 1rem;
  text-align: center;
  .expected-result {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    padding-bottom: 2rem;
  }
  .operands-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    font-weight: 500;
    //padding: 2rem;
    display: inline-block;
    .three-operands {
      display: flex;

      .operand {
        // width: 45%;
        width: 111px;
        height: 111px;
        border: 4px dashed black;
        border-radius: 50%;
        padding: 32px 26px 26px 20px;
        /* text-align: center; */
        margin: 3px;
        font-size: 36px;
      }
    }
  }
  .operators-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .operator-content {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-size: 55px;
    width: 64px;
    height: 64px;
    border: 4px solid black;
    border-radius: 50%;
    margin: 3px 3px 3px 3px;
    padding: 3px 0px 0px 0px;
    text-align: center;
    color: blue;
    background-color: black;
  }
  .operator-content-icon {
    font-size: 45px;
    width: 45px;
    height: 45px;
    padding-top: 6px;
    font-weight: 500;
  }
  .revert-button {
    background-color: rgb(217, 245, 236) !important;
  }
  .arithmetic-operation-button {
    background-color: aliceblue !important;
  }
}
