.game-arithmetic-operations-layout {
   text-align: center;
  .usage-instruction {
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 0.8125rem;
    letter-spacing: 0.02em;   
    padding-bottom: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .expected-result {
    text-align: center;
    font-size: 3.4375rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }
  .operands-container {
    font-size: 2.75rem;
    font-weight: 500;
    .three-operands {
      display: flex;
      justify-content: center;
      margin: 0.4375rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 23.1875rem;      
      margin-left: auto;
      margin-right: auto;

      .operand {
        width: 5.625rem;
        height: 5.625rem;
        border: 0.25rem dashed blue;
        border-radius: 50%;
        font-size: 1.625rem;
        font-weight: 550;
        margin: 0.25rem 0.625rem 0.25rem 0.625rem;
        font-family: 'Courier New', Courier, monospace;
        .button:hover {
          border: 0.25rem solid blue;
        }
      }
    }
  }
  .operators-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .operator-content {
    order: 0;
    flex: 0 1 auto;
    align-self: auto; 
    width: 3.55rem;
    height: 3.55rem;
    border: 0.25rem solid #6b6b6b;
    border-radius: 50%;
    margin: 0.1875rem 0.1875rem 0.1875rem 0.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
  }
  .operator-content-button {
    background-color: white;
  }
  .operator-content-button-disabled {
    background-color: white;
  }
  .operator-content-button:hover {
    background-color: rgb(230, 255, 250);
  }
  .operator-content-icon {
    width: 1.875rem;
    height: 1.875rem;
    font-weight: 500;
    vertical-align: middle;
  }
  .revert-button {
    background-color: rgb(219, 251, 221);
  }
  .revert-button:hover {
    background-color: rgb(170, 224, 174);
  }
  .arithmetic-operation-button {
    background-color: rgb(217, 236, 255);;
  }
  .arithmetic-operation-button:hover{
    background-color: rgb(174, 215,255);
  }  
}
