<div class="game-arithmetic-operations-layout">
  <div class="usage-instruction">Use the any combination of number to reach the target:</div>
  <div>
    <label class="expected-result">{{ gameParameters.result }}</label>
  </div>
  <div class="operands-container">
    <div class="three-operands">
      <ng-container *ngFor="let operand of gameParameters.operands; let ix = index">
        <button type="button" *ngIf="ix < 3" class="operand" [disabled]="operand.disabled"
            [ngStyle]="{'background-color': operand.selected ? 'rgb(190 209 253 / 59%)' : 'white' }"
            (click)="onOperandButtonClick(operand)">{{ operand.value }}
        </button>
      </ng-container>
    </div>
    <div class="three-operands">
      <ng-container *ngFor="let operand of gameParameters.operands; let ix = index">
        <button type="button" *ngIf="ix > 2" class="operand" [disabled]="operand.disabled"
            [ngStyle]="{'background-color': operand.selected ? 'rgb(190 209 253 / 59%)' : 'transparent' }"
            (click)="onOperandButtonClick(operand)">{{ operand.value }}
        </button>
      </ng-container>
    </div>
  </div>
  <div class="operators-container">
    <ng-container *ngFor="let operator of operators; let ix = index">
        <button type="button" class="operator-content " 
          [ngClass]="ix === 0 ? 'revert-button' : 'arithmetic-operation-button'"
          (click)="onOperatorButtonClick(operator)">
          <mat-icon class="operator-content-icon" svgIcon="{{ operator.icon }}"></mat-icon>
        </button>
    </ng-container>
  </div>
</div>
