<div
  class="slide-toggle-layout"
  [class.checked]="checked()"
  [class.vertical]="orientation() === 'vertical'"
  [class.disabled]="disabled() || spin()"
  [class.spin]="spin()"
>
  <label>
    <input
      data-test-id="slide-toggle-input"
      type="checkbox"
      [checked]="checked()"
      (click)="$event.preventDefault(); toggleClick()"
      [disabled]="disabled() || spin()"
    />
    <span class="slider"
      [style]="checked() ? toggleOnStyle() : toggleOffStyle()"
      [style.--slide-knob-bg-color]="knobColor()"
      [style.--slide-knob-spinner-color]="knobWaitSpinnerColor()">
    </span>
  </label>
</div>
