@mixin spin-animation($time: 1.5s, $type: linear, $mode: infinite) {
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  animation: spin $time $type $mode;
}

$color-gray: #ccc;
$checked-backround-color: #4d8af5;
$knob-spin-border-colorcolor: blue;
$knob-border-color-default: var(--slide-knob-bg-color, white);
$color-disabled: #ccc;
$color-background-off: white;
$color-background-on: #4d8af5;


.slide-toggle-layout {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;

  &.vertical {
    width: 2.125rem;
    height: 3.75rem;
  }

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-gray;
    transition: .4s;
    border-radius: 2.125rem;

    &:before  {
      border: 0.1875rem dotted $knob-border-color-default;
      position: absolute;
      content: "";
      height: 1.4375rem;
      width: 1.4375rem;
      left: 0.3125rem;
      bottom: 0.3125rem;
      background-color: var(--slide-knob-bg-color);
      transition: .4s;
      border-radius: 50%;
      transform: translateY(0);
    }

  }

  &.vertical .slider:before  {
    left: 0.3125rem;
    bottom: initial;
    top: 2rem;
  }

  &.checked .slider {
    background-color: $checked-backround-color;
  }

  &.checked .slider:before  {
    left: 2rem;
  }

  &.vertical.checked .slider:before  {
    top: 0.3125rem;
    left: 0.3125rem;
  }

  &.spin .slider:before ,
  &.vertical.spin .slider:before {
    border: 0.1875rem dotted var(--slide-knob-spinner-color, knob-spin-border-colorcolor);
    border-radius: 50%;
    width: 1.4375rem;
    height: 1.4375rem;
    @include spin-animation(2s, linear, infinite);
  }

  &.spin .slider:before  {
    left: 1.1875rem;
  }

  &.vertical.spin .slider:before {
    left: 0.3125rem;
    top: 1.1875rem;
  }

  input:focus + .slider {
    box-shadow: 0 0 0.0625rem $checked-backround-color;
  }

  &.disabled {
    opacity: 0.6;
    & input {
      cursor: not-allowed;
    }
    .slider {
      background-color: $color-disabled;
      cursor: not-allowed;
    }
  }

}
