@use "../../digit-styles.scss";

.game-stage-level-layout {

    .warning-message {
        @extend .digit-font-settings;
        @extend .digits-border-horizontal;
        font-weight: 500;
        font-size: 17px;
        text-align: center;
        color: orange;
        padding-left: calc(50% - 115px);
    }
    .stage-levels {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;        
        .stage-level {
            border: 1px solid #d4d4d4;
            padding:0 10px 0 10px;
            order: 0;
            flex: 1 1 auto;
            align-self: auto;
        }
    }
}