<div class="game-stage-level-layout">
    @if (NO_STAGE_LEVELS) {
        <div>
            <span class="warning-message">No stage levels defined!</span>
        </div>
    } @else {
        <div class="stage-levels">
            @for (stageLevel of stageLevels; track stageLevel.index) {
                <div class="stage-level" [ngStyle]="{'border-bottom': stageLevel.selected ? 'none' : '1px solid #d4d4d4' }">
                    <app-stage-level [stageLevel]="stageLevel"></app-stage-level>
                </div>
            }
        </div>
    }
</div>
