<div class="awards-content">
        <div class="awards-screen">
            <div  class="align-awards text-primary">
                <h4 class="label-title">Awards...</h4>
            </div>
            <div>
                <p>
                <span class="text-primary">
                    <a class="spacer"
                      href="https://github.com/lkovari/LKovariHome/blob/master/src/app/shared/directives/imag-lazy-loading.directive.ts">
                      <img [src]="githubLogoPath" width="16" height="16" alt="githubLogoPath">
                    </a>Technical notes:</span> under CONSTRUCTION, will use ngOptimizedImage directive</p>
            </div>
            <div class="image-content">
                <ul>
                    @for (imageDescriptor of imageDescriptors; track imageDescriptor.id) {
                        <li class="text-primary">  {{ imageDescriptor.alt }}
                            <img
                                class="img-responsive"
                                [src]="imageDescriptor.fileName" 
                                width="imageDescriptor.width" height="imageDescriptor.height"
                                alt="imageDescriptor.alt">
                        </li>            
                    }
                </ul>
            </div>            
        </div>
</div>

