/* You can add global styles to this file, and also import other style files */

// @import "@angular/material/prebuilt-themes/purple-green.css";
// @import "@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "styles/app";

html, body { 
	height: 100%; 
}
body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
}

