<div class="side-toggle-example-layout">
  <div>
    This page is a <b>playground</b>, I show on this page Angular v2+ source
    code snippets, what I learned at last or just which interested in, for me.
  </div>
  <div class="sub-topic">
    <b>Act #4</b>
    <div class="top-gap">
      <div class="text-primary">
        <a
          class="horizontal-gap-left horizontal-gap-right"
          href="https://github.com/lkovari/LKovariHome/tree/master/src/app/playground/components/customizable-wizard"
        >
          <img
            [src]="githubLogoPath"
            width="16"
            height="16"
            alt="githubLogoPath"
          />
        </a>
        Signal based "modern" SlideToggle standalone component with input
        transform stringAttributeTransform, effect(), computed(), output() on
        Reactive form
      </div>
      <div class="sub-topic">
        Reactive form example with a slide toggle custom component.
        <div class="sub-topic">
          <form class="form-group" [formGroup]="toggleForm">
            <div class="radio-options">
              <label for="spinCheckbox">
                <input
                  type="checkbox"
                  id="spinCheckbox"
                  formControlName="spin"
                  #spinCheckbox
                />
                In Progress
              </label>
              @for (option of options; track $index) {
              <label class="horizontal-gap-right horizontal-gap-left">
                <input
                  type="radio"
                  id="{{ option }}"
                  value="{{ option }}"
                  formControlName="orientation"
                />
                <span> {{ option }}</span>
              </label>
              }
            </div>
            <div class="sub-topic"></div>
            <div class="form-control control-area">
              <label class="spacer" for="slideToggle">Slide toggle</label>
              <app-slide-toggle
                #modernSlideToggle
                class="horizontal-gap-left"
                id="slideToggle"
                [orientation]="defaultOrientation"
                [knobColor]="'white'"
                [knobWaitSpinnerColor]="'blue'"
                [toggleOnStyle]="{ 'background-color': '#4d8af5' }"
                [toggleOffStyle]="{ 'background-color': 'lightgray' }"
                [spin]="spinCheckbox.checked"
                formControlName="toggle"
              ></app-slide-toggle>
            </div>
          </form>
          <div>
            <p>Form Status: {{ toggleForm.status }}</p>
            <p>
              Slide Toggle value:
              {{ toggleForm.value | json }}
            </p>
            <p>
              SlideToggle Component Status: {{ modernSlideToggle.status() }}
            </p>
          </div>
          <div>
            <p class="under-construction">
              This Component is under construction!
            </p>
          </div>
          <div class="text-primary">
            TODO list:
            <ul>
              <li>
                implement the off state in pseudo class :before the on state in
                class :after
              </li>
              <li>show default value selector checkbox</li>
              <li>review the signal related</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-topic">
    <b>Act #5</b>
    <div class="top-gap">
      <div class="text-primary">
        <a class="horizontal-gap-left horizontal-gap-right"
          href="https://github.com/lkovari/LKovariHome/tree/master/src/app/shared/services/global-error-handler-service">
          <img [src]="githubLogoPath" width="16" height="16" alt="githubLogoPath" />
        </a>
        Global Error handling
      </div>
    <div class="d-flex gap-2 ps-2 pt-1">
      <button class="text-danger" (click)="generateError()">Generate Error</button>
      <button [routerLink]="['/error']"> Show Errors</button>
    </div>
  </div>
</div>
