.stage-level-layout {
    padding-top: 1px;
    .stage-level-font {
        font-size: 17px;
    }
    .stage-level-number-unselected {
        @extend .stage-level-font;
        font-weight: 450;
    }
    .stage-level-number-selected {
        @extend .stage-level-font;
        font-weight: 600;
    }
    .stage-level-asterisk-unselected {
        color: blue;
    }
    .stage-level-asterisk-selected {
        color: #ec09eb
    }
    .stage-level-completed {
        color: green;
        opacity: 0.5;
    }
    .stage-level-completed-value {
        @extend .stage-level-completed;
        font-weight: 500;
        color: black;
    }
}