<div class="stage-level-layout">
    <div [ngClass]="{ 'stage-level-number-unselected':!stageLevel.selected, 'stage-level-number-selected':stageLevel.selected}" 
        style="text-align: center;">
        @if (stageLevel.completed) {
            <div (click)="stageClick()">
                <span class="stage-level-completed-value enable-stage-click">
                    {{ stageLevel.value }}
                </span>
            </div>
        } @else {
            <ng-container class="disable-stage-click">
                {{ stageLevel.value }}
            </ng-container>
        }
    </div>
    <div>
        @if (stageLevel.selected) {
            <div style="display: flex; justify-content: center;">
                @for (star of stars; track star) {
                    <span class="stage-level-asterisk-selected">
                        <i class="pi pi-star-fill" style="font-size: 10px"></i>
                    </span>
                }
            </div>
        } @else {
            <div style="display: flex; justify-content: center;">
                @if (stageLevel.completed) {
                    <div (click)="stageClick()">
                        @for (star of stars; track star) {
                            <span class="stage-level-asterisk-unselected stage-level-completed enable-stage-click">
                                <i class="pi pi-star-fill" style="font-size: 10px"></i>
                            </span>
                        }
                    </div>                    
                } @else {
                    @for (star of stars; track star) {
                        <span class="stage-level-asterisk-unselected disable-stage-click">
                            <i class="pi pi-star" style="font-size: 10px"></i>
                        </span>
                    }
                }
            </div>
        }
    </div>
</div>
